<li class="product">
  <h2 class="product__title">{{product.title}}</h2>
  <p class="product__cost">{{product.price}} &#8381;</p>
  <p class="product__text">Количество отправок: {{product.message_limit ? product.message_limit: 'Неограничено'}}</p>
  <p class="product__text">Срок действия:{{product.period}} месяцев</p>
  <button class="product__btn" mat-raised-button color="primary" (click)="openDialog('0ms', '0ms')">
    <mat-icon
      aria-hidden="false"
      aria-label="add_circle_outline"
      fontIcon="add_circle_outline"
    ></mat-icon>
    <span>Приобрести</span>
  </button>
  <span class="product__info_show" *ngIf="!product.message_limit">Безлимитный</span>
</li>
