.products {
  &__title {
    line-height: 70px;
    margin: 0 30px;
    font-size: 22px;
    font-weight: 400;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

