/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

:root {
     --style-color: #3F51B5;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

ul {
    list-style: none;
}

.status {
    color: var(--style-color);
    text-align: center;
    padding-top: 20vh;
  }