.dialog {
  &__header_wrap {
    position: relative;
    background-color: #3f51b5;
    width: 100%;
    color: #fff;

    & h1 {
      margin-right: 30px;
    }
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  &__title_wrap {
    margin-bottom: 30px;
  }
}
